 body{
     font-family: arial;
     margin: 0;
     background-color: #eeeeee;
 }
 #wrapper{
     width: 980px;
    margin: 0 auto;
    background: white;

 }

 #main-navigation{
     background: #181818;
     padding: 10px;

 }
  #main-navigation ul{
      text-align: right;
      list-style-type: none;   /* removes the dots coming with the list */
        margin-right: 10px;

  }

  #main-navigation li{
      display: inline-block;
      margin-left: 20px;
  }

  #main-navigation a {
      color: white;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 14px;
      padding: 6px;
  }

  #main-navigation a.current {
    background: #8f746c;
    border-radius: 4px;
  }

  #lead-banner img{
      width: 100%;
  }

  #shop{
      margin :30px 5px;
      text-align: center;

  }

  #shop h2.product-name{
      font-size: 16px;
      margin-bottom: 0;
  }

  #shop span.price{
    display: block;
    font-size: 58px;
  }

  #shop a.add-to-bag{
      display:block;
      color: #8f746c;
      text-transform: uppercase;
      font-size: 12px;
      text-decoration: none;
      padding: 10px 0;
      border: 2px solid #8f746c;
      width: 210px;
      margin: 20px auto;

  }

  #shop a.add-to-bag:hover{
      color: white;
      background: #8f746c;
  }

  #footer-banner{
      width: 100%;
  }